html,body{
    height: 100%;
    width: 100%;
    margin: 0;
}

#home-ui{
    height: 100%;
    width: 100%;
    display: grid;
    transition: 300ms;
    grid-template-columns: 5% auto;
}

#sidebar-container{
    background-color: rgb(255, 158, 68);
    border-right: 5px solid rgb(168, 100, 35);
}

#home-ui:has(#sidebar-container:hover){
    grid-template-columns: 15% auto;
}

#home-ui-container{
    background-color: rgb(255, 192, 132);
    grid-template-columns: auto 55vw 25vw;
    display: grid;
    grid-template-rows: 5% auto;

}

#checklist-container{
    background-color: aqua;
    grid-row: 2;
}

#calendar-container{
    background-color: blue;
    grid-row: 2;
}

#event-container{
    background-color: brown;
    grid-row: 2;
}

#quote-container{
    background-color: white;
    grid-row: 1;
    grid-column: 1 / 4;
    text-align: center;
}